# https://help.github.com/en/actions/language-and-framework-guides/publishing-nodejs-packages
name: Release
on:
  push:
    tags:
      - '*'
permissions:
  id-token: write # needed to publish to npm
  contents: write # needed to create a release
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Create GitHub Release
      uses: ncipollo/release-action@6c75be85e571768fa31b40abf38de58ba0397db5 # pin@v1.13.0
      with:
        tag: ${{github.event.release.tag_name}}
    - uses: actions/setup-node@v4
      with:
        node-version: '18'
        registry-url: 'https://registry.npmjs.org/'
    - run: npm install
    - run: npm publish --access public
